#cloud-config
# vim: syntax=yaml
#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
# se debe reamplazar jorge por su nombre de dominio del anterior modulo sin el .com
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
#     jorge:sesamo  
  expire: False

users:
  - name: petergarcia # Change me (nombre del dominio sin .com)
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCt3BXdq/OsGPhTtQgsa5Sky6liBldb+lzAZT9yCVIObYjNbcpZAI/nSKJWQLHSfN0NbrcYpOLSeIepSbqLjPpC7H/5G5JSP6OeueVD6XAqFJBBY/4dzyG92LPkLp98Nt0qY2RtWRJDHDHLOJUCv8zIKlQe6Fe6PsUMkLQY7B4qMG2806bwxeu6OkI2koUayTdNA5dxU7y2BWy9ngFjSABv6FaXfELUn/scTl8Y68bf2IJANMLbIAbaDz/BaiCCOd5U+o/M5GM0EWkV0EKVCLRM3svf3ErL8mXS+KNLeoarJykNA+bF+A6W6/qA537ADeqLKtz0w5JZIBv7XtZFwKJx peter@peter-Virtual-Machine
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo
